---
// Component Imports
import BaseLayout from '../layouts/base_layout.astro'
import Navbar from '../layouts/navbar.astro'
import AsyncFetch from '../components/AsyncFetch.svelte';



// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---


<BaseLayout>
  <!-- <Navbar />   -->
  <main>
	<AsyncFetch client:visible />
    <article>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, magni!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere commodi deleniti porro officiis quisquam laborum eos perferendis dolores recusandae expedita, repudiandae fuga reiciendis, voluptas eum optio nobis! Adipisci dolore molestiae nisi hic ea deserunt nobis dolorum animi, laboriosam pariatur, fugiat, soluta quisquam impedit tempora quaerat a officia, veniam commodi iste?</p>
        <p>Doloribus quasi velit autem dolor laboriosam, distinctio, laborum provident voluptatum asperiores suscipit reprehenderit perferendis repellendus expedita delectus sit! Officia dolores, at officiis voluptates qui recusandae esse, corporis sunt, asperiores impedit ipsa. Maiores maxime blanditiis odit incidunt beatae quos suscipit illum iste magni tenetur quas hic, nemo, id alias esse explicabo?</p>
        <p>Labore enim delectus rem, suscipit quibusdam accusantium, recusandae dolorem, perspiciatis, voluptate ad ea deleniti expedita saepe tempore perferendis cupiditate beatae. Esse distinctio, sint. Aspernatur recusandae mollitia, eaque velit blanditiis maiores voluptatum expedita. Consequuntur placeat excepturi repudiandae aliquam dignissimos sit quo aut! Quis sapiente, nulla voluptas voluptate provident architecto nostrum esse!</p>
      <a href="#" role="button">Read More</a>
    </article>
    
    <article>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, magni!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere commodi deleniti porro officiis quisquam laborum eos perferendis dolores recusandae expedita, repudiandae fuga reiciendis, voluptas eum optio nobis! Adipisci dolore molestiae nisi hic ea deserunt nobis dolorum animi, laboriosam pariatur, fugiat, soluta quisquam impedit tempora quaerat a officia, veniam commodi iste?</p>
        <p>Doloribus quasi velit autem dolor laboriosam, distinctio, laborum provident voluptatum asperiores suscipit reprehenderit perferendis repellendus expedita delectus sit! Officia dolores, at officiis voluptates qui recusandae esse, corporis sunt, asperiores impedit ipsa. Maiores maxime blanditiis odit incidunt beatae quos suscipit illum iste magni tenetur quas hic, nemo, id alias esse explicabo?</p>
        <p>Labore enim delectus rem, suscipit quibusdam accusantium, recusandae dolorem, perspiciatis, voluptate ad ea deleniti expedita saepe tempore perferendis cupiditate beatae. Esse distinctio, sint. Aspernatur recusandae mollitia, eaque velit blanditiis maiores voluptatum expedita. Consequuntur placeat excepturi repudiandae aliquam dignissimos sit quo aut! Quis sapiente, nulla voluptas voluptate provident architecto nostrum esse!</p>
      <a href="#" role="button">Read More</a>
    </article>
    
    <article>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, magni!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere commodi deleniti porro officiis quisquam laborum eos perferendis dolores recusandae expedita, repudiandae fuga reiciendis, voluptas eum optio nobis! Adipisci dolore molestiae nisi hic ea deserunt nobis dolorum animi, laboriosam pariatur, fugiat, soluta quisquam impedit tempora quaerat a officia, veniam commodi iste?</p>
        <p>Doloribus quasi velit autem dolor laboriosam, distinctio, laborum provident voluptatum asperiores suscipit reprehenderit perferendis repellendus expedita delectus sit! Officia dolores, at officiis voluptates qui recusandae esse, corporis sunt, asperiores impedit ipsa. Maiores maxime blanditiis odit incidunt beatae quos suscipit illum iste magni tenetur quas hic, nemo, id alias esse explicabo?</p>
        <p>Labore enim delectus rem, suscipit quibusdam accusantium, recusandae dolorem, perspiciatis, voluptate ad ea deleniti expedita saepe tempore perferendis cupiditate beatae. Esse distinctio, sint. Aspernatur recusandae mollitia, eaque velit blanditiis maiores voluptatum expedita. Consequuntur placeat excepturi repudiandae aliquam dignissimos sit quo aut! Quis sapiente, nulla voluptas voluptate provident architecto nostrum esse!</p>
      <a href="#" role="button">Read More</a>
    </article>
    
    <article>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, magni!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere commodi deleniti porro officiis quisquam laborum eos perferendis dolores recusandae expedita, repudiandae fuga reiciendis, voluptas eum optio nobis! Adipisci dolore molestiae nisi hic ea deserunt nobis dolorum animi, laboriosam pariatur, fugiat, soluta quisquam impedit tempora quaerat a officia, veniam commodi iste?</p>
        <p>Doloribus quasi velit autem dolor laboriosam, distinctio, laborum provident voluptatum asperiores suscipit reprehenderit perferendis repellendus expedita delectus sit! Officia dolores, at officiis voluptates qui recusandae esse, corporis sunt, asperiores impedit ipsa. Maiores maxime blanditiis odit incidunt beatae quos suscipit illum iste magni tenetur quas hic, nemo, id alias esse explicabo?</p>
        <p>Labore enim delectus rem, suscipit quibusdam accusantium, recusandae dolorem, perspiciatis, voluptate ad ea deleniti expedita saepe tempore perferendis cupiditate beatae. Esse distinctio, sint. Aspernatur recusandae mollitia, eaque velit blanditiis maiores voluptatum expedita. Consequuntur placeat excepturi repudiandae aliquam dignissimos sit quo aut! Quis sapiente, nulla voluptas voluptate provident architecto nostrum esse!</p>
      <a href="#" role="button">Read More</a>
    </article>
    
    <article>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, magni!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere commodi deleniti porro officiis quisquam laborum eos perferendis dolores recusandae expedita, repudiandae fuga reiciendis, voluptas eum optio nobis! Adipisci dolore molestiae nisi hic ea deserunt nobis dolorum animi, laboriosam pariatur, fugiat, soluta quisquam impedit tempora quaerat a officia, veniam commodi iste?</p>
        <p>Doloribus quasi velit autem dolor laboriosam, distinctio, laborum provident voluptatum asperiores suscipit reprehenderit perferendis repellendus expedita delectus sit! Officia dolores, at officiis voluptates qui recusandae esse, corporis sunt, asperiores impedit ipsa. Maiores maxime blanditiis odit incidunt beatae quos suscipit illum iste magni tenetur quas hic, nemo, id alias esse explicabo?</p>
        <p>Labore enim delectus rem, suscipit quibusdam accusantium, recusandae dolorem, perspiciatis, voluptate ad ea deleniti expedita saepe tempore perferendis cupiditate beatae. Esse distinctio, sint. Aspernatur recusandae mollitia, eaque velit blanditiis maiores voluptatum expedita. Consequuntur placeat excepturi repudiandae aliquam dignissimos sit quo aut! Quis sapiente, nulla voluptas voluptate provident architecto nostrum esse!</p>
      <a href="#" role="button">Read More</a>
    </article>
  </main>

  <footer>
    <p><small>&copy;admixweb</small></p>
  </footer>

 <!-- !!!!!刪除 hoist 才可執行!!! -->
 <!-- <script src={Astro.resolve('../utils/theme-switcher.js')} hoist></script>      -->
 
 <!-- <script type="module" src={Astro.resolve('../utils/theme-switcher.js')} ></script>   -->
 </BaseLayout>

